body {
    background-color:   #473C3C;
    margin:             0;
    padding:            0;
    font-family:        sans-serif;
}

#player {
    border-top:         solid 1px red;
    position:           absolute;
    top:                100px;
    bottom:             0;
    right:              0;
    left:               0;
    overflow:           hidden;
}

#controls {
    background-color:   #E6E6E6;
    height:             80px;
    padding-top:        20px;
    display:            flex;
    flex-wrap:          wrap;
    align-items:        center;         /* vertical align */
    justify-content:    space-around;   /* horizontal align */
}

.playerBtn {
    flex-basis:         50px;
}

.slider {
    min-width:          93%;
}

.playerBtn:hover {
    color:              #9C1212;
}

.btnInfo {
    color:              #8f8f8f;
    position:           absolute;
    display:            none;
}

.playerBtn:hover .btnInfo {
    display: block;
}


#dropHereMsg {
    width:              100%;
    height:             100%;
    z-index:            10;
    background-color:   rgba(61, 161, 49, 0.75);
    color:              #fff;
    font:               bold 3rem sans-serif;
    text-align:         center;
    line-height:        90vh;
    transition:         0.4s;
}


/*
    PLAYLIST COLUMN
*/

.playlist {
    width:              40vh;
    border-left:        red;
    background-color:   white;
    position:           absolute;
    height:             100%;
    top:                0;
    right:              0;
    overflow:           auto;
}

.playlist > h1 {
    text-align:         center;
    padding-bottom:     20px;
}

.playlist .song {
    padding:            20px;
    border-bottom:      solid 1px darkgray;
    border-top:         solid 1px darkgray;
}

.playlist .title {
    font-weight:        bold;
    font-size:          larger;
}

#playlist .artist {
    font-size:          1rem;
    color:              #535353;
}

#playlist .playing {
    background-color: #a4dde6;
}

.hidden {
    display:            none;
}
